.divEmpty{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem auto;
}
.e-image-cart{
    border-radius: 1rem;
    margin-top: 2rem;
}
.responsive-img{
    max-width: 20rem;
}