.parent-badge-container {
    font-size: 1.4rem;
    padding: 0px 0.5rem;
    position: relative;
    display: inline-block;

}

.badge-e-com {
    position: absolute;
    top: -25px;
    right: -18px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: var(--danger-message-color);
    color: var(--white-color);
}

.land-social-link-nav-e {
    color: var(--text-color);
    margin: 20px 70px;
    display: flex;
    gap: 20px;
    margin-left: auto;
    align-items: center;
}

.land-social-link-nav-e>.social-landing-page:hover {
    color: var(--primary-text-color);
}

.land-social-link-nav-e>.social-landing-page {
    color: var(--text-color);
}

.land-navbar {
    display: flex;
    align-items: center;
    background-color: var(--light-gray);
    border-bottom: 1px solid var(--text-color);
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.land-heading-title {
    color: var(--primary-text-color);
    font-size: 1.5rem;
    margin: 1rem;
}

.land-navbar-links .ul-landing-page {
    display: flex;
    margin-left: 100px;
    font-weight: bold;
}

.land-navbar-links .li-landing-page {
    list-style: none;
}

.land-navbar-links .li-landing-page .landing-page-link {
    text-decoration: none;
    color: var(--text-color);
    padding: 1rem;
    display: block;
    margin: 1rem;
}

.land-navbar-links .landing-page-link:hover {
    color: var(--primary-text-color);
}

.land-hamburgerBtn {
    position: absolute;
    top: .75rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.land-quote-div {
    color: var(--text-color);
    font-size: medium;
    font-weight: bolder;
}







@media screen and (max-width: 768px) {
    .land-hamburgerBtn {
        display: flex;
        margin: .5rem;
        cursor: pointer;
    }

    .land-navbar-links {
        display: none;
        width: 100%;
    }

    .land-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .land-navbar-links .ul-landing-page {
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
    }

    .land-navbar-links .li-landing-page {
        display: flex;
        justify-content: left;
        margin-top: 10px;

    }

    .land-navbar-links .li-landing-page .landing-page-link {
        padding: .5rem 1rem;
    }

    .land-navbar-links.active {
        display: flex;
    }



    .land-heading-title {
        margin: .5rem 0rem 0rem 5rem;
    }
}