.c-c-dashboard{
    width: 25rem;
    height: 20rem;
}
.a-c-c-dashboard{
    align-items: center;
    flex-direction: column;
}
.btn-logout-dashboard{
    width: 6rem;
    margin-left: 1rem;
}
.main-body-dashboard{
    gap: 1rem;
}
.f-c-dashboard>button{
    font-size: 1.3rem;
}
.f-c-dashboard{
    border-bottom: 3px solid var(--primary-color);
}
.btn-p-c-dashboard{
    box-sizing: content-box;
}
.btn-p-c-dashboard:focus{
    background-color:none
}
@media screen and (max-width: 768px) {
.account{
font-size: 1.5  rem !important;
}
.a-c-c-dashboard{
    flex-direction: row;
}
.c-c-dashboard{
    height:22rem;
}
}