.productDetails-wrapper {
    display: flex;
    margin: 15rem auto;
    gap: 2rem;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.product-details {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.single-prod-img {
    width: 100%;
    max-width: 20rem;
    height: auto;
}

.red-color {
    color: var(--primary-color);
    font-weight: bold;
}

.flex-wrap-sp {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
}

@media screen and (max-width:768px) {
    .flex-wrap-sp {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .atc-fixed {
        background-color: var(--primary-color);
        height: 3rem;
        padding: 1rem;
        border-radius: 0;
        left: 0;
        position: fixed;
        right: 50%;
        margin-bottom: 3rem;
        cursor: pointer;
    }

    .atw-fixed {
        right: 0;
        background-color: var(--gray-color);
        height: 3rem;
        padding: 1rem;
        border-radius: 0;
        color: var(--white-color);
        position: fixed;
        left: 50%;
        margin-bottom: 3rem;
        cursor: pointer;
    }
}