.submit-form {
    max-width: 25rem;
}
.login-div{
    display: flex;
    justify-content: center;
}
.login-img{
    background-color: var(--danger-message-color);
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 0.3rem;
}
.login-wrapper{
    margin: 15rem 3rem;
}
.login-img-hero{
    border-radius: 0.5rem;

}
.login-details{
    color: var(--white-color);
}
.color-white{
    font-size: 2rem;
    color: var(--white-color);
}
@media screen and (max-width:450px) {
    .submit-form {
        max-width: 15rem;
    }
    .login-img{
        display: none;
    }

}